STRING_SESSION = "" # A pyrogram String Session

BOT_TOKEN = "5257621375:AAEVtDqHuXtiSYl7ZuUz7kTP7t_9lQwCds4" # Get a token from @botFather

API_ID = "14538054" # Get this value from https://my.telegram.org

API_HASH = "84b8f1eab7411aa42b9859371af2742b" #  Get this value from https://my.telegram.org

SUDO_USERS = "5116077901" # For multiple Users Use Space

DURATION_LIMIT = "70" # In Mins (EX :- 60)

ASSISTANT_NAME = "vpnfplaymusic" # Fill there Your Assistant Username without @

BOT_USERNAME = "vpnfmusic_bot" # fill there Your Bot Username Without @

UPDATES_CHANNEL = "vpnfastteam" # Support Channel Link if you have any, Leave blank if no support. Your Username must start without @

GROUP_SUPPORT = "vpnfastteam" #Support Group Link if you have any, Leave blank if no support. Your Username must start without @
